<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<h1>this is new about section</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae hic maxime ex iure corporis doloremque beatae expedita voluptate veritatis odit repellat distinctio adipisci voluptatum consequuntur facilis aliquid sapiente eius. Iste minima odit quidem animi sapiente natus obcaecati in nam assumenda voluptas dolores vitae nihil! Facere numquam quia iste et veritatis.</p>
	
	</section>
	
	
</body>
</html>